{% extends "base_menu.html" %}
{% block content %}
<h1>All Patients in Pulmonary Fibrosis list:</h1>
<p>
{% if ppatient_list %}
<ul>
  {% for pfd in ppatient_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <span onclick="window.location.href='{% url 'pfds:pfd_detail'  pfd.id %}';">{{ pfd.name }}</span>
         
        {% if pfd.owner == user %}
          <span onclick="window.location.href='{% url 'pfds:pfd_delete' pfd.id %}';"  style="float:right"><i class="fa fa-trash" style="color:red"></i></span>
        {% endif %}
       
    </li>
  {% endfor %}
</ul>
{% else %}
  <p>There are no patient in the database.</p>
{% endif %}
</p>
<p>
<a href="{% url 'pfds:pfd_create' %}" class="btn btn-success">Create</a> 
{% if user.is_authenticated %}
<a href="{% url 'logout' %}?next={% url 'pfds:all' %}"class="btn btn-warning">Logout</a>
{% else %}
<a href="{% url 'login' %}?next={% url 'pfds:all' %}" class="btn btn-primary">Login</a>
{% endif %}
</p>
{% endblock %}